﻿@model  LoginViewModel
<div class="cms-section m1">
    <div class="cmsmodul login Header_Background_Partner2 FadeIn effect-active" data-scrolleffectclass="0">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { role = "form", @class="login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="rw">
                    <label>Username</label>@Html.TextBoxFor(m => m.Username, new { @class = "user req", @name = "pw", @maxlength = "100", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username, "")
                </div>
                <div class="rw">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "pw req", @name = "pw", @maxlength = "100", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="btns">

                <input type="submit" class="button submit" value="Login"/>

            </div>
        }
    </div>
</div>