﻿@model Lopoca.Assignment.Web.Front.Models.FileStatusViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            @if(Model.Success) {<h2>File @Model.FileId</h2>
    <hr />
<div>
    File successfully saved.
</div>
        }
        else{
<h2>Save failed</h2>
<hr />
<div>
    File failed to save. @Model.Message
</div>
    }
    <div>
        <a asp-action="List">Back to List</a>
    </div>
