﻿@model IEnumerable<Lopoca.Assignment.Web.Front.Models.FileUploadViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GivenFilename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenFilename)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.ActionLink("Upload", "Upload", new { }, new { @class = "button" })
</div>
