﻿@model Lopoca.Assignment.Web.Front.Models.FileUploadViewModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upload File</h2>
<div class="row"></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedFile" class="control-label"></label>
                <input type="file" id="UploadedFile" name="UploadedFile" />
                <span asp-validation-for="UploadedFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="button submit" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
